<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=5.0,user-scalable=yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css?v=v' | append: site.github.build_revision | relative_url }}" media="(min-width: 50em)" />
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style-adaptor.css?v=v' | append: site.github.build_revision | relative_url }}" media="(max-width: 50em)" />
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/common.css?v=v' | append: site.github.build_revision | relative_url }}" />
